---
- name: add user passwords in file
  hosts: all
  become: true
  vars_files:
    users_list.yml
  tasks:
    debug:
      msg: "{{ lookup('password','/tmp/'+ item +'_file length=8') }}"
    loop: "{{ users }}"
